.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.main{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 20px;
    width: 50%;
    border-radius: 10px;
}
.child{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 10px;
}
body{
    background-color: lightgrey;
    font-family: Arial, sans-serif;
    margin: 10vh;
}